@font-face{
    font-family: 'Bank Gothic BT';
    src: url('fonts/Bank-Gothic-Light-BT.eot');
    src: url('fonts/Bank-Gothic-Light-BT.woff') format('woff'),
         url('fonts/Bank-Gothic-Light-BT.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Dosis';
    src: url('fonts/Dosis-SemiBold.eot');
    src: url('fonts/Dosis-SemiBold.woff') format('woff'),
         url('fonts/Dosis-SemiBold.otf') format('opentype'),
         url('fonts/Dosis-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'Helvetica LT Std';
    src: url('fonts/HelveticaLTStd-Cond.eot');
    src: url('fonts/HelveticaLTStd-Cond.woff') format('woff'),
         url('fonts/HelveticaLTStd-Cond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Merriweather';
    src: url('fonts/Merriweather-LightIt.eot');
    src: url('fonts/Merriweather-LightIt.woff') format('woff'),
         url('fonts/Merriweather-LightIt.otf') format('opentype'),
         url('fonts/Merriweather-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Bold.eot');
    src: url('fonts/MyriadPro-Bold.woff') format('woff'),
         url('fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Cond.eot');
    src: url('fonts/MyriadPro-Cond.woff') format('woff'),
         url('fonts/MyriadPro-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Neoteric';
    src: url('fonts/NEOTERIC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Nirmala UI';
    src: url('fonts/NirmalaB.eot');
    src: url('fonts/NirmalaB.woff') format('woff'),
         url('fonts/NirmalaB.otf') format('openetype'),
         url('fonts/NirmalaB.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Nirmala UI';
    src: url('fonts/Nirmala.eot');
    src: url('fonts/Nirmala.woff') format('woff'),
         url('fonts/Nirmala.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Bold.woff') format('woff'),
         url('fonts/OpenSans-Bold.otf') format('opentype'),
         url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    src: url('fonts/OpenSans-Regular.woff') format('woff'),
         url('fonts/OpenSans-Regular.otf') format('opentype'),
         url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Ostrich Sans';
    src: url('fonts/ostrich-black.eot');
    src: url('fonts/ostrich-black.woff') format('woff'),
         url('fonts/ostrich-black.otf') format('opentype'),
         url('fonts/ostrich-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: 'Pompiere';
    src: url('fonts/Pompiere-Regular.eot');
    src: url('fonts/Pompiere-Regular.woff') format('woff'),
         url('fonts/Pompiere-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Zurich BT';
    src: url('fonts/Zurich-BT-Bold.eot');
    src: url('fonts/Zurich-BT-Bold.woff') format('woff'),
         url('fonts/Zurich-BT-Bold.otf') format('opentype'),
         url('fonts/Zurich-BT-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}