@mixin flex($just: normal, $direct: row, $align: normal, $basis: auto){
    display: flex;
    justify-content: $just;
    flex-direction: $direct;
    align-items: $align;
    flex-basis: $basis;
}

@mixin grid($cols: none){
    display: grid;
    grid-template-columns: $cols;
}

@mixin text($align: left, $color: inherit, $trans: inherit, $decor: inherit){
    text-align: $align;
    color: $color;
    text-transform: $trans;
    text-decoration: $decor;    
}

@mixin font($size: inherit, $weight: inherit, $height: inherit){
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}