$font-dosis: Dosis, sans-serif;  //600
$font-myriad-pro: Myriad Pro, sans-serif; //bold, normal
$font-merriweather: Merriweather, sans-serif; //italic 300
$font-bank-gothic-bt: Bank Gothic BT, sans-serif; // 300
$font-zurich-bt: Zurich BT, sans-serif; //800
$font-nirmala-ui: Nirmala UI, sans-serif; // bold
$font-pompiere: Pompiere, sans-serif; //400
$font-open-sans: Open Sans, sans-serif; //400, 700
$font-neoteric: Neoteric, sans-serif; // bold
$font-helvetica-lt-std: Helvetica LT Std, sans-serif; //
$font-ostrich-sans: Ostrich Sans, sans-serif; //900
$max-width: 1920px;
$main-yellow: #ffc908;
$main-dark-gray: #242929;
$main-gray: #575c5c;
$main-ligth-gray: #a8aeae;
$post-font-gray: #6c7374;
$post-header-gray: #282d2d;
$sidebar-header-gray: #413f3f;
$contact-gray: #222;
$input-gray: #777;