.article{
    @include flex();
    position: relative;
    box-shadow: -.521vw 1.823vw 1.823vw 0 #c2c2c2;
    &--second{
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 10.3175%;
    }
    &--bigblock{
        flex-direction: column;
        margin-bottom: 5.714%;
    }
    &--bigblock-bottom{
        margin-bottom: 0;
    }
    &--fourth{
        @include grid($cols: 1fr 1fr);
        margin-bottom: 5.714%;
    }
    &--fourth-item{
        flex-direction: column;
        box-shadow: none;
    }
}
.article__text{
    max-width: 39.7%;
    padding: 3.57% 0 3.57% 3.18%;
    &--second{
        padding-right: 7.54%;
    }
    &--bigblock{
        max-width:100%;
        padding: 47.62% .794% 3.41% 2.778%;
    }
    &--smallblock{
        max-width: 100%;
        padding: 107.8% 5.788% 9.001%;
    }
}
.article__blog-section{
    font-family: $font-nirmala-ui;
    @include font($size: .9375vw, $weight: bold, $height: 133%, $space: .2604vw);
    @include text($color: $main-yellow, $trans: uppercase);
    &--smallblock{
        text-align: center;
    }
    &--bigblock{
        @include font($size: 1.042vw, $weight: bold, $space: .3125vw);
        margin-bottom: .238%;
    }
}
.article__header{
    font-family: $font-nirmala-ui;
    @include text($color: $post-header-gray, $trans: none);
    @include font($size: 1.4583vw, $weight: normal, $height: 3.125vw, $space: .2604vw);
    border-bottom: 3px solid #dde1f4;
    margin-bottom: 2.6%;
    padding: 2% 0 2.6%;
    &--bigblock{        
        width: 80%;
        @include font($size: 1.5625vw, $weight: normal, $height: 3.125vw, $space: .3125vw);
    }
    &--border-none{
        border-bottom: none;
        margin-bottom: 0;
    }
    &--smallblock{
        font-family: $font-nirmala-ui;
        @include font($size: 1.4583vw, $height: 3.125vw);
        @include text($align: center, $color: $post-header-gray);
        padding-bottom: 0;
    }
}
.article__description{
    font-family: $font-myriad-pro;
    @include font($size: 1.25vw, $height: 1.823vw, $space: .1042vw);
    @include text($color: $post-font-gray);
    &--none{
        display: none;
    }
}
.article__interactive{
    @include flex($just: space-between);
    margin-top: 14%;
    &--bigblock{
        margin-top: 0;
    }
    &--smallblock{
        margin-top: 0;
    }
}
.article__share-block{
    @include flex($just: center, $align: center);
    gap: 7%;
    &--bigblock{
        flex-direction: column;
    }
}
.article__social-list{
    padding-left: 0 20px 0 0;
    list-style-type: none;
    justify-content: flex-end;
}
.article__image{
    width: 48.016%;
    height: 131.51%;
    position: absolute;
    right: 2.77778%;
    top: -19.256%; // от высоты родительского блока
    background: url('img/absolute-block.jpg');
    box-shadow: 0px 2.344vw 1.823vw 0 #c2c2c2;
    &--second{
        width: 45.24%;
        height: 125.37%;
        background: url('img/absolute-block2.jpg');
        top: -12.98%;
        left: 0;
    }
    &--bigblock{
        width: 100%;
        height: 60.768%;
        background: url('img/road.jpg');
        top: 0;
        left: 0;
        box-shadow: none;
    }
    &--bigblock-bottom{
        background: url('img/lifestyle.jpg');
        background-position: 0 -190px;
    }
    &--smallblock{
        width: 95.17%;
        height: 57.044%;
        background: url('img/read-more-2.jpg');
        right: 0;
        top: 0;
        box-shadow: 0px 1.042vw 1.823vw 0 #c2c2c2;
    }
    &--smallblock-two{
        background: url('img/read-more-1.jpg');
    }
    &:hover{
        opacity: .9;
        transition: all .15s ease-in;
    }
    &:hover .article__image-button,
    &:hover .article__info-wrapper--regular{
        display: block;
    }
}
.article__image-button{
    display: none;
}
.article__img{
    max-width: 100%;
}
.article__info-wrapper{
    width: 100%;
    position: absolute;
    bottom: 11.7%;
    @include text($align: center, $color: white, $decor: none);
    font-style: italic;
    &--bigblock{
        color: $main-ligth-gray;
        text-align: end;
        position: static;
    }
    &--smallblock{
        position: static;
        margin: 2.727% 0 10.909%;
        font-family: $font-nirmala-ui;
        @include font($size: 1.5625vw, $weight: bold, $space: .3125vw);
        color: $main-ligth-gray;
    }
    &--regular{
        display: none;
    }
}
.article__date,
.article__likes,
.article__comments{
    font-family: $font-myriad-pro;
    @include font($size: .78125vw, $space: .15625vw);
    font-style: normal;
    &--bigblock{        
        color: $main-ligth-gray;
        font-family: $font-nirmala-ui;
        @include font($size: .9375vw, $weight: bold, $space: .3125);
    }
    &--smallblock{
        @include font($size: 1.3542vw, $weight: normal, $space: .1042vw);
    }
}
.article__fontawesome{
    font-size: 23px;
    color: $awesome;
}
.article__awesome-color{
    color: $awesome;
}