.main-gallery{
    max-width: $max-width;
    width: 100%;
    @include flex($just: space-between, $direct: column);    
    background-size: cover;
    padding: 8% 0 5% 2%;
    margin-bottom: 2.083%;
    box-shadow: 0px 1.3vw 1.3vw 0 #c2c2c2;
    box-sizing: border-box;
    &--img{
        background: url('../img/trav.jpg') center;
        transition: all .2s ease-in;
    }
    &--img2{
        background: url('../img/header.jpg') center;
        transition: all .2s ease-in;
    }
    &--img3{
        background: url('../img/trav2.jpg') center;
        transition: all .2s ease-in;
    }
    &--img4{
        background: url('../img/trav3.jpg') center;
        transition: all .2s ease-in;
    }
    &--img5{
        background: url('../img/trav4.jpg') center;
        transition: all .2s ease-in;
    }
}
.main-gallery__tagline{
    display: block;
    width: fit-content;
    margin-bottom: 17.2%;
}
.main-gallery__tagline-header{
    display: block;
    font-family: $font-bank-gothic-bt;
    @include font($size: 2.5vw, $weight: 300, $height: 1.875vw);  
    color: white;   
}
.main-gallery__tag-wrapper{
    width: fit-content;
    margin: auto;
}
.main-gallery__tagline-tag{
    font-family: $font-myriad-pro;
    @include font($size: .833vw, $weight: bold, $height: .78125vw, $space: 0px);
    @include text($color: white, $trans: uppercase);   
    &::before{
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background: linear-gradient(to bottom left, red, red 50%, transparent 50%, transparent);
        position: relative;
        top: 2px;
        margin-right: 5px;
    }
}
.main-gallery__blog{
    font-family: $font-myriad-pro;
    @include font($size: .9375vw, $weight: bold, $height: .99vw);
    @include text($align: center, $color: white, $trans: uppercase);
}
.main-gallery__header{
    font-family: $font-zurich-bt;
    @include font($size: 2.292vw, $weight: 800, $height: 1.7708vw, $space: -.05208vw);
    @include text($color: white, $trans: uppercase);
}
.main-gallery__main-wrapper{
    display: flex;
    gap: 1.1715%;
    margin-top: 1.3845%;
}
.main-gallery__nav{
    width: 2.486%;
    @include flex($direct: column);
    gap: 2.27%;
}
.main-gallery__nav-button{
    width: 100%;
   //height: 45px;
    height: 20.275%;
    background: none;
    border: 1px solid white;
    &:hover{
        background-color: $red;
    }
}
.main-gallery__arrow{
    fill: white;
    &--down{
        transform: translateY(2px);
    }
    &--up{
        transform: translateY(-1px) rotate(180deg);
    }
}
.main-gallery__text{
    width: 100%;
    @include flex($direct: column);
}
.main-gallery__description{
    width: 27.07%;
    margin: 1.05% 0 1.823% 0;
    font-family: $font-myriad-pro;
    @include font($size: .9896vw, $height: .9896vw, $space: 0px);
    color: white;    
}
.main-gallery__dots-list{
    @include flex();
    padding-left: 0;
    list-style-type:none;
    color: white;
    gap: .221%;
    margin-top: 2.043%;
}
.main-gallery__dot{
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    &--active{
        background-color: unset;
    }
}