.page-header{
    max-width: $max-width;
    @include flex($just: space-between, $direct: column);
    gap:3px;
}
.page-header__main-container{
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    padding: 2.5% 0 1.98%;
}
.page-header__nav-container{
    @include flex($just: space-between);
    border-top: 1px solid #e9e9e9;
    padding: 1.042% 0;
}
.page-header__main-wrapper{
    max-width: $inner-width;
    @include flex($just: space-between, $align: center);
    margin: auto;
}
.page-header__nav-wrapper{
    @include flex($just: space-between, $align: center, $basis: 1260px);
    margin: auto;
}