.pagination{
    @include flex($just: space-between, $align: center);
    padding: 0 4.762%;
}
.pagination__prev,
.pagination__next,
.pagination__page{
    text-decoration: none;
    color: $main-gray;
    font-size: 21px;
}
.pagination__page{
    &--selected{       
        display: inline-block;
        width: 100%;
        line-height: 50px;
        text-align: center;
    }
}
.pagination__pages{
    @include flex($align: center);
    gap: 60px;
    position: relative;
    right: 12px;
}
.pagination__selected{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $main-yellow;
    position: relative;
    left: 25px;
}