.photo{
    display: grid;
    gap: 33px;
}
.photo__row{
    width: $max-width;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(25%);
    &:first-child{
        box-shadow: 0 16px 16px 0 #c2c2c2;
    }
}
.photo__item{
    width: 100%;
    height: 471px;
}