.sidebar{
    @include flex($direct: column);
    max-width: 32.74%;
    width: 100%;
}
.sidebar__item{
    padding: 7.717% 3.537% 4.663%;
    position: relative;
    box-sizing: border-box;
    box-shadow: -.521vw .781vw .781vw 0 #c2c2c2;
    &--position{
        margin-bottom: 6.913%;
    }
    &--about{
        padding: 7.2345% 0 0;
        margin-bottom: 6.43%;
    }
    &--newsletter,
    &--categories,
    &--recent{
        position: relative;
        margin-bottom: 5.627%;
        padding: 9% 0 0;
    }
    &--categories{
        padding: 8.521% 0 0;
        margin-bottom: 7.235%;
    }
    &--newsletter{
        padding: 6.592% 0 0;
        margin: 78.939% 0 6.27%;
    }
    &--tags{
        padding: 9.4855% 0 0;
        margin-bottom: 7.717%;
    }
    &--contact{
        padding: 13.183% 3.537% 3.698%;
    }
}
.sidebar__item-header-wrapper{
    width: 73.955%;   
    height: 6.689%;
    position: absolute;
    top: 5.351%;    
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    border: 3px solid #dde1f4;
    &--about{
        height: auto;
        position: relative;
        top: 0;
    }
    &--newsletter,
    &--categories,
    &--recent{
        width: auto;
        height: auto;
        position: relative;
        top: auto;
        padding-bottom: 2.572%;
    }
}
.sidebar__item-header{
    display: inline-block;
    width: fit-content;
    position: absolute;
    top: -.6em;
    left: 0;
    right: 0;
    margin: auto;
    font-family: $font-myriad-pro;
    @include font($size: 1.5625vw, $weight: bold);
    @include text($color: #413f3f, $trans: uppercase);   
    background: white;
    box-shadow: 0 -.521vw .1563vw 1.719vw white;
    &--newsletter,
    &--categories,
    &--recent,
    &--tags{
        font-family: $font-pompiere;
        @include font($size: 2.9167vw, $weight: 400);
        @include text($color: $post-header-gray, $trans: capitalize);
        box-shadow: 0 -.7813vw .1563vw 1.5625vw white;
    }
    &--tags{
        box-shadow: 0 -1.512vw 0.1563vw 1.5625vw white;
    }
    &--categories{
        box-shadow: 0 -1.221vw 0.1563vw 1.719vw white;
    }
    &--contact{
        box-shadow: none;
        background-color: unset;
        top: 4.545%;
    }
}
.sidebar__item-text{
    display: inline-block;
    margin-top: 8.696%;
    font-family: $font-myriad-pro;
    @include font($size: 1.3542vw, $height: 2.2396vw);
    @include text($align: center, $color: $main-gray);
    &--about{
        display: block;
        box-shadow: 0 0 0px 25px white;
    }    
}
.sidebar__item-share{
    margin-bottom: 3.261%;
    box-shadow: 0 0 0 15px white;
}
.sidebar__item-content{
    padding-top: 8.82%;    
    &--about{
        width: 100%;
        height: 134.524%;
        background: url('/img/i.jpg');
        background-position: -280px -700px;
        background-size: 270%;
        margin-top: 1.608%;
        padding-top: 0;
        box-shadow: -10px 15px 15px 0 #c2c2c2;
    }
}
.sidebar__item-form{
    @include flex($direct: column);
    margin-top: 11.364%;
    gap: 27px;
    box-shadow: 0 -16px 0 16px white;
}
.sidebar__item-form-text{
    border: none;
    border-bottom: 1px solid black;
    font-family: $font-merriweather;
    @include font($size: 1.3542vw, $weight: 300);
    @include text($align: center, $color: $main-ligth-gray);
    font-style: italic;
}
.sidebar__item-form-submit{
    padding: 1.948% 0 2.11%;
    background-color: $sign-up-button;
    border: none;
    font-family: $font-dosis;
    @include font($size: 1.3542vw, $weight: 600, $space: .2604vw);
    @include text($align: center, $color: white, $trans: uppercase);
    margin-bottom: 9.578%; 
}
.sidebar__image{
    max-width: 100%;
    box-shadow: 0px -15px 0px 3px white;
    &--about{
        height: 491px;
        box-shadow: none;
        margin-top: 10px;
    }
}
.sidebar__item-list{
    padding-left: 0;
    list-style-type: none;
    padding: 1.136% 8.117% 0;
    box-shadow: 0 0 0 3px white;
    margin-top: 3.734%;
    &--recent{
        padding: 5.03% 3.571% 5.52%;
        box-shadow: 0 7px 0 9px white;
    }
    &--tags{
        @include grid($cols: 1fr 1fr);
        justify-items: center;
        gap: 0 5.357%;
        padding: 2.435% 3.571% 3.2154%;
    }
}
.sidebar__item-list-li{
    font-family: $font-myriad-pro;
    @include font($size: 1.40625vw, $height: 2.9688vw);
    @include text($align: center, $color: $main-gray);
    border-bottom: 1px solid $border-gray;
    &--categories:last-child{
        border-bottom: none;
    }
    &--recent{
        max-height: 104px;
        @include flex();
        text-align: left;
        gap: 7.34%;
        border-bottom: none;
        margin-bottom: 2.8%;
    }
    &--recent:last-child{
        margin-bottom: none;
    }
    &--tags{
        width: 94.643%;
        border: 2px solid $main-yellow;
        font-family: $font-myriad-pro;
        @include flex($align: center); 
        @include font($size: 2.1354vw, $height: 2.1404vw);               
        @include text($color: $main-dark-gray, $trans: uppercase);
        padding-left: 2.963%;
        margin-bottom: 10%;
    }
    &:hover{
        color: $main-yellow;
    }
}
.sidebar__item-img{
    width: 32.5%;
}
.sidebar__content-title,
.sidebar__content-date{
    font-family: $font-open-sans;
    @include font($size: 1.4583vw, $weight: 400, $height: 1.4583vw);
    @include text($align: left, $color: $post-header-gray);
}
.sidebar__content-date{
    color: $main-ligth-gray;
}
.sidebar__contact-form{
    @include flex($direct: column);
}
.sidebar__input-field{
    padding-left: 3.46%;
    padding: 2.076% 0 2.249% 3.46%;
    margin-bottom: 2.595%;
}
.sidebar__textarea{
    height: 188px;
    padding: 3.745% 0 0 3.745%;
    box-sizing: border-box;
}
.sidebar__input-field,
.sidebar__textarea{
    border: 2px solid #f4f7f9;
    background-color: #fafbfc;
    font-family: $font-open-sans;
    @include font($size: .677vw, $weight: 400);
    color: $input-gray;
}
.sidebar__textarea::before{
    content: attr(data-area);
}
.sidebar__submit{
    width: 20.242%;
    background-color: $main-yellow;
    border-radius: 2px;
    border: none;
    margin: 3.806% auto 0;
    padding: 1.664% 0 1.848%;
    font-family: $font-open-sans;
    @include font($size: 1.7188vw, $weight: 400, $height: 1.7188vw);
    color: #0a0a0a;
}