.social{    
    @include flex($just: space-between, $align: center);
    list-style-type: none;
    padding-left: 0;
    &--article-list{
        width: auto;
        justify-content: flex-start;
        gap: 26px;
    }
    &--header{
        max-width: 190px;
        width: 100%;
    }
    &--footer{
        width: 100%;
    }
}
.social__item{    
    &--footer{
        max-width: 165px;
    }   
}
.social__image{
    fill: $main-gray;
    &--article{
        fill: $main-yellow;
        width: 25px;
        height: 25px;
    }
    &--sidebar{
        width: 45px;
        height: 45px;
        fill: $main-gray;
    }
}
.social__share-block{
    @include flex($direct: column, $align: center);
}
.social__share-text{
    font-family: $font-neoteric;
    @include font($size: 1.198vw, $weight: bold, $height: 2.292vw, $space: .2604vw);
    @include text($align: center, $color: $main-ligth-gray, $trans: uppercase);
    &--about{
        font-size: 2.24vw;
        text-transform: none;
        margin: 8.696% 0 4.348%;
    }
    &--article{
        font-family: $font-myriad-pro;
        @include font($size: 1.198vw, $height: 1.198vw, $weight: bold, $space: .2604vw);
        @include text($color: $main-ligth-gray, $trans: uppercase);
    }
}
.social__name{
    font-family: $font-myriad-pro;
    @include font($size: .7292vw, $weight: bold);
    @include text($color: $main-gray, $trans: uppercase);
}
.social__link{
    text-decoration: none;
    &--footer{
    @include flex($align: center);
    gap: 12px;
    }
}