.up-button{
    width: 5.21%;
    height: 15.96%;
    display: block;
    position: absolute;
    bottom: 6.383%;
    background-color: white;
    border: none;
    &::before{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: linear-gradient(to top right, red, red 50%, white 50%, white);
        position: absolute;
        bottom: 3px;
        left: 3px;
    }
    &::after{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: linear-gradient(to top left, red, red 50%, white 50%, white);
        position: absolute;
        bottom: 3px;
        right: 3px;
    }
}
.up-button__arrow{
    transform: rotate(180deg);
}